node_modules/
dist/
tienda-frontend/node_modules/
tienda-frontend/dist/
.DS_Store
*.log
__pycache__/
# *.db (Permitido para que la base de datos funcione exactamente igual en cualquier computadora)
venv/
.venv/
